DATABASE_URL=postgresql+psycopg://bollette:CHANGE_ME@127.0.0.1/bollette
STORAGE_DIR=/var/lib/bollette/storage
APP_BASE_URL=http://IP_DEL_CONTAINER:8080
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
